/* Utilities buttons styling */
@use "../../../../styles/colors";

.bar-util-btn {
  background-color: transparent;
  border: none;
  border-radius: 6px;
  padding: 2px;
  
  &:hover {
    background-color: colors.c(hover);
  }
  
  &:active {
    background-color: colors.c(active);
  }
  
  &:focus {
    outline: 2px solid colors.c(focus);
    outline-offset: 1px;
  }
}
